<head>
    <title>Диспансерное наблюдение</title>
    <meta name="keyword" content="Диспансерное наблюдение">
	<meta name="description" content="Диспансерное наблюдение">
	<link rel="shortcut icon" href="https://klike.net/uploads/posts/2020-03/1585036729_7.jpg">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    

<div class="container-fluid text-center">

    <h1>Диспансерное наблюдение в соответствии с Приказом Минздрава РФ от 15.03.2022 N 168Н для Свердловской области</h1>

    <h2></h2>
    <br>
    <form action="{% url 'usluga' %}">

        <h5><label for="name">Диагноз ДН:  </label>
        <input type="text" name="code" placeholder="I11.9" id="code" required></h5>
        <br>
        <br>
        <input type="submit" value="Проверить" class="btn btn-primary">

    </form>

</div>
<br>
<br>
<br>
<br>
<div>Приложение работает в тестовом режиме!</div>
<div>Если найдете ошибки, пожалуйста напишите сюда: it-ural5@mail.ru</div>
</body>