<head>
  <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(92892893, "init", {
        clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92892893" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  {% load static %}
    <title>Диспансерное наблюдение</title>
    <meta name="keyword" content="Диспансерное наблюдение,медицина,ЕЦП,ПРОМЕД,РМИС,ЕГИССО,МИС,mis,rmis66,mis66,promed,guide,инструкции,свердловская область,база инструкций,66промедвед.ру,ецп промед">
	  <meta name="description" content="Диспансерное наблюдение">
	  <link rel="shortcut icon" href="{% static 'uslugi/t2.ico' %}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    

<div class="container-fluid text-center">
<br>
<a href="{% url 'home' %}" class="btn btn-primary"> НА ГЛАВНУЮ СТРАНИЦУ </a>
<br>
<h2>для МЭС "{{ mes_name }}" надо следующие услуги:</h2>

{% block content %}

{% for us in stand %}
  <div class="alert alert-success text-left"><p>{{ us|safe|linebreaksbr }}</p></div>
  <br>
{% endfor %}

{% endblock %}

</div>
</body>